API_IMAGE=docker.io/informativus/mtproxy-control-api:beta
WEB_IMAGE=docker.io/informativus/mtproxy-control-web:beta

APP_ENV=production
API_ADDR=:8080
WEB_PORT=8081
DATABASE_PATH=/data/panel.db
HEALTHCHECK_INTERVAL=30s
