API_IMAGE=docker.io/informativus/mtproxy-control-api:0.1.0-beta.1
WEB_IMAGE=docker.io/informativus/mtproxy-control-web:0.1.0-beta.1

APP_ENV=production
API_ADDR=:8080
WEB_PORT=8081
DATABASE_PATH=/data/panel.db
HEALTHCHECK_INTERVAL=30s
SSH_KEY_DIR=/root/.ssh
